<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Teckblogy</title>
</head>

<header class="hero">
    <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
    <ul>
        {{#if loggedIn}}
        <li><a class="nav-link" href="/dashboard">Dashboard</a></li>
        {{/if}}
        {{#unless loggedIn}}
        <li><a class="nav-link" href="/login">Login</a></li>
        <li><a class="nav-link" href="/signup">Sign up</a></li>
        {{/unless}}
        {{#if loggedIn}}
        <button id="logout-btn">logout</button>
        {{/if}}
    </ul>
</header>

<body>
    <main>
        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>
</html>