{{#if loggedIn}}
  <a href="/add-post" class="add-btn btn">
    + New Post
  </a>
{{#if posts.length}}
<section>
  <h2 class="section-title">Your Posts</h2>
  <ol class="post-ol">
    {{#each posts as |post|}}
    <li class="poster">
        <div class="single-post">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
{{/if}}
