<h2 class="section-title">Login</h2>

<form class="login-form">
        {{> form}}
        <div>
            <button type="submit">Login!</button>
        </div>
        <div>
            <p>Don't have an account? <a class="link" href="/signup">Sign up</a></p>
        </div>
    </div>
</form>

<script src="/javascript/login.js"></script>