* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a { color: inherit; }

header {
    padding: 10px;
    background-color: rgb(16, 112, 136); 
    color: white;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    justify-content: space-between;
    flex: initial;
}

ul li {
    list-style: none;
    padding: 10px;
}

header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-link {
    margin: 0px 10px;
}

#logout-btn {
    border: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

/* main  */

main {
    padding: 5%;
}

main .posts li {
    margin: 20px 0px;
    padding: 0;
    background-color: white;
    border: 2px solid rgb(16, 112, 136);
}

.section-title {
    padding: 10px;
    color: rgb(23, 107, 133);
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(36, 36, 36);
}

.posts {
    padding: 30px;
    box-shadow: 10px 10px 40px rgb(31, 31, 31);
    display: flex;
    flex-flow: column nowrap;
}


.title {
    background-color: rgb(23, 107, 133);
    color: white;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.title > * {
    margin: 10px;
}

.form-div {
    padding: 10px;
    font-size: 24px;
}

form {
    margin: 30px 0;
    width: 100%;
    align-self: center;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    text-align: start;
    padding: 5px;
}


.link {
    color: rgb(10, 121, 34);
    font-weight: bold;
}

.content {
    padding: 15px;
    text-indent: 30px;
}

form button {
    background-color: rgb(24, 133, 57);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.shadow-lg {
    box-shadow: 10px 10px 20px rgb(20, 20, 20);
}

.comment-container {
    min-width: 100%;
    margin: 20px 0;
    box-shadow: 10px 10px 20px rgb(20, 20, 20);
}

.comment-text {
    background-color: rgb(199, 220, 231);
    color: rgb(0, 0, 0);
    padding: 25px;
    line-height: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    align-self: flex-end;
    font-size: 14px;
    color: rgb(124, 124, 124);
    padding: 5px;
}

.single-comment {
    display: flex;
    flex-flow: column wrap;
    margin: 50px 0;
}

.new-post-form {
    display: flex;
    flex-flow: column nowrap;
}

.input-sm {
    padding: 5px;
    width: 100%;
}

.poster {
    margin: 50px 0;
}

.post-ol {
    list-style-type: none;
}

.edit-link {
    background-color: rgb(223, 143, 23);
    padding: 5px;
    border-radius: 5px;
}

.delete-btn {
    background-color: rgb(133, 24, 24);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.add-btn {
    background-color: rgb(24, 138, 30);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}